@import '../templates/general.css';
@import '../templates/main-content.css';

.course-box {
    height: 75px;
    margin-top: 25px;
    font-size: 1.5rem;
}
.description {
    top: 0;
}
.course-box img {
    object-fit: fill;
    width: 100%;
    height: auto;
}