@import '../templates/general.css';
@import '../templates/main-content.css';


.ql-editor {
    min-height: 500px;
}
.ql-toolbar {
    min-width: 100%;
}
.post-formulary {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#editor_container {
    width: 100%;
    min-height: 500px;
}

.post-data__container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.span-title, .span-date {
    display: inline-block;
    width: 95%;
    margin-left: 10px;
}

.post-title {
    border: 1px solid #ccc;
    margin: 10px;
    width: 75%;
    outline: none;
}
.post-date {
    outline: none;
    margin: 10px;
}
.submit-button {
    background-color: var(--dark-blue);
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: -20px;
    border-radius: 100px;
    padding: 20px 30px;
    transition: background-color .12s;
}

.item-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.item-creator h3 {
    text-align: center;
    margin-bottom: 30px;
}
.difficult-selector-container {
    margin-top: 30px;
}
.selector {
    display: block;
    width: 200px;
    height: 50px;
    margin: 15px auto;
    font-size: 1.5rem;
    outline: none;
    padding-left: 15px;
    text-align: center;
    border-radius: 30px;
    background-color: white;
}

#item-background {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    place-content: center;
}

.emoji-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32px);
    grid-template-rows: repeat(auto-fill, 32px);
    grid-auto-columns: 32px;
    grid-auto-flow: row;
    flex-wrap: wrap;
    min-width: 377px;
    max-width: 80%;
    gap: 5px;
    border: 1px solid gray;
    padding: 5px;
    overflow: scroll;
    margin: 0 auto;
}
.emoji-selected {
    border: 1px solid red;
}

.item-emoji {
    width: 60%;
}

.easy {
    background-color: var(--green);
    border: 7px solid var(--green-2);
}
.moderate {
    background-color: var(--blue);
    border: 7px solid var(--blue-2);
}
.difficult {
    background-color: var(--orange);
    border: 7px solid var(--orange-2);
}
.submit-button:active {
    background-color: var(--dark-blue-2);

}

@media screen and (min-width:794px) {
    .post-data__container {
        display: flex;
        max-width: 85%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
    .emoji-box-container {
        min-width: 794px;
    }
    .difficult-selector-container {
        display: flex;
        align-items: center;
    }
    .selector {
        margin-right: 30px;
    }
}