@import 'general.css';
@import 'main-content.css';
.courses-list {
    width: 100%;
    display: grid;
    justify-content: center;
}

/*course-row is added to divs containers in coursesList.js*/
.wrapped {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
    .courses-list {
        width: 80%;
        max-width: 628px;
    }
}
