.emoji-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32px);
    grid-template-rows: repeat(auto-fill, 32px);
    grid-auto-columns: 32px;
    grid-auto-flow: row;
    flex-wrap: wrap;
    width: 377px;
    height: 200px;
    gap: 5px;
    border: 1px solid gray;
    padding: 5px;
    overflow: scroll;
}
.emoji-selected {
    border: 1px solid red;
}

  