.icon-menu:before {
    content: "\e9bd";
  }
/*Header*/
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "logo menu";
    background-color: var(--red);
}

.logo-container {
    grid-area: logo;
}

.logo-container img {
    max-height: 100px;
}

.menu {
    color: var(--dark-blue);
    width: 60px;
    height: 60px;
    margin: 20px 10px 20px 20px;
    font-size: 2rem;
}

.menu :hover  {
    filter: brightness(150%);
}

@media screen and (min-width: 1024px) {
    .menu {
        display: none;
    }
}