* {
    /*General Settings*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Colors*/
    --red: #e8303a;
    --blue: #33a8dd;
    --white: #ffffff;
    --dark-blue: #2b357a;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas: "header  header  header"
    "main    main    main   "
    "footer footer  footer";
    width: 100%;
    height: 100%;
}

.header {
    display: grid;
    grid-area: header;

    grid-template-columns: 1fr 100px;
    grid-template-areas: "logo menu";
    background-color: var(--red);
}
.logo-container {
    grid-area: logo;
}
.logo-container img {
    max-width: 100%;
}
.sidebar {
    display: none;
    grid-area: sidebar;
    background-color: var(--blue);
}
.main-content {
    grid-area: main;
    background-color: var(--white);
    min-height: 500px;
}
.footer {
    grid-area: footer;
    background-color: var(--red);
}