* {
    /*General Settings*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*Colors*/
    --red: #e8303a;
    --blue: #33a8dd;
    --transparent-blue: #7cc7e9bb;
    --transparent-blue-2: #7cc7e986;
    --transparent-blue-3: #7cc7e957;
    --white: #ffffff;
    --dark-blue: #2b357a;
    --transparent-dark-blue: #2b357af8;
    --black: rgb(24, 24, 24);
    
}
/*General Settings*/
a{
    color: var(--white);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr auto;
    grid-template-areas: "header  header  header"
    "main    main    main   "
    "footer footer  footer";
    width: 100%;
    height: 100%;
}
/*Header*/
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "logo menu";
    background-color: var(--red);
}

.logo-container {
    grid-area: logo;
}

.logo-container img {
    max-height: 100px;
}

.menu {
    background: var(--blue);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 20px 10px 20px 20px;
    font-size: 2rem;
}

.menu:hover  {
    filter: brightness(110%)
}
/*Main Content*/
.main-content {
    grid-area: main;
    background-color: var(--white);
    min-height: 500px;
    color: var(--dark-blue);
    
}

.title {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding: 30px 10px;
}

.hero-presentation div {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
    line-height: 2rem;
}

.tag {
    padding: 6px 8px;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 5px;
    transition: filter .2s;
}

.tag a {
    text-decoration: none;
}

.tag a:visited {
    color: var(--white);
    text-decoration: none;
}

.tag:hover {
    filter:brightness(1.5);
}

.courses {
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    color: var(--blue);
}

.course.subtitle {
    padding: 10px 0;
    width: 100%;
    font-size: 2rem;
    background: var(--transparent-blue-3);
}

.course-box {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
    height: 250px;
    background-color: var(--blue);
    border-radius: 15px;
    margin-top: 30px;
    color: var(--white);
    font-size: 1.7rem;
    overflow: hidden;
    background-position: left;

}

.course-box img {
    object-fit: fill;
    height: 100%;
}

.description {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    background-color: var(--transparent-blue);
    text-align: left;
}
.description h2 {
    line-height: 70px;
}

/*Sidebar*/
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 252px;
    background-color:var(--transparent-dark-blue);
    box-shadow: 3px 0px 50px rgba(0,0,0,0.5);
    padding: 15px;
    transition: margin.5s;
    overflow: hidden;
}

.sidebar-items {
    list-style: none;
    width: 80%;
    font-size: 1.5em;
    line-height: 2.5;
    margin-left: 15px;
}
.sidebar-items li {
    border-bottom: 1px solid var(--white);
    transition: text-shadow .13s
}
.sidebar-items li:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}
.sidebar-items a{
    text-decoration: none;
}
/*Footer*/
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--red);
    grid-template-areas: "first-footer first-footer"
                         "second-footer second-footer";
    gap: 10px;
    padding: 15px;
    color: var(--white);
}

.first-footer {
    grid-area: first-footer; 
    list-style: none;
}

.second-footer {
    grid-area: second-footer;
}

.box-footer {
    font-size: .8rem;
    padding-left: 10px;
    line-height: 1.5;
    text-align: center;
}
.box-footer ul {
    list-style:none
}
.box-footer a {
    font-weight: bold;
    color: var(--white);
}
.box-footer a:visited {
    color: var(--white);
}
.leyenda {
    grid-area: leyenda;
    text-align: center;
    
}