@import 'templates/general.css';
@import 'templates/main-content.css';

.hero-presentation div {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
    line-height: 2rem;
}
.courses {
    padding: 0 0 30px;
}
.hero-buttons {
    margin-bottom: 20px;
}
.guest {
    margin-bottom: 20px;

}