/*Main Content*/
.main-content {
    grid-area: main;
    background-color: var(--white);
    min-height: 500px;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/*Tags*/
.tag {
    padding: 6px 8px;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 5px;
    transition: filter .2s;
}

.tag a {
    text-decoration: none;
}

.tag a:visited {
    color: var(--white);
    text-decoration: none;
}

.tag:hover {
    filter:brightness(1.5);
}

/*Courses boxes*/

.courses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    color: var(--blue);
}

.course.subtitle {
    padding: 10px 0;
    width: 100vw;
    font-size: 2rem;
    background: var(--transparent-blue-3);
}

.course-box {
    position: relative;
    width: 80%;
    max-width: 300px;
    height: 250px;
    background-color: var(--blue);
    border-radius: 15px;
    margin-top: 50px;
    color: var(--white);
    font-size: 1.7rem;
    overflow: hidden;
    background-position: left;
    transition: transform .2s;
}
.course-box:hover {
    transform: scale(1.1)
}
.course-box img {
    object-fit: fill;
    height: 100%;
}

.description {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    background-color: var(--transparent-blue);
    text-align: left;
}

.description h2 {
    line-height: 70px;
}

@media screen and (min-width: 768px) {

    .courses  {
        flex-direction: row;
        justify-content: center;
    }

    .course-box {
        margin: 50px;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {

    .course-box {
        margin: 70px;
        margin-bottom: 20px;
    }
    
}