@import 'general.css';
@import 'header.css';
@import 'footer.css';
@import 'sidebar.css';
@import 'main-content.css';

.main-content {
    display: block;
}
#editor-container {
    width: 100%;
}
.post-info__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.post-info__container span {
    display: inline-block;
}
.post-info__container .span-title {
    width: 70%;
}
.post-info__container .span-date {
    width: 25%;
}

.post-title {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    width: 80%;
    outline: none;
}
.post-date {
    outline: none;
    margin: 10px;
}