/*Main Content*/
.main-content {
    grid-area: main;
    background-color: var(--white);
min-height: 71vh;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.word-break {
    word-break: break-all;
}
/*Tags*/
.tag {
    padding: 7px 12px;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 5px;
    border: none;
    transition: brightness .2s;
    font-size: 1.1rem;
    margin: 30px auto;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.rounded {
    border-radius: 100px;
}
.medium-size {
    font-size: 1.5rem;
    padding: 15px 20px;
} 
.transparent {
    opacity: 60%;
    transition: opacity .2s;
}
.transparent:hover {
    opacity: 80%;
    filter: brightness(1)
}
.tag[disabled] {
    background-color: var(--moderate-light-gray);
}
.tag[disabled]:hover {
    filter:none
}
.tag a {
    text-decoration: none;
}

.tag a:visited {
    color: var(--white);
    text-decoration: none;
}

.tag:hover {
    filter:brightness(1.5);
}


.description {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    background-color: var(--transparent-blue);
    text-align: left;
}

.description h2 {
    line-height: 70px;
}

.element-background {
    display: none;
    position: fixed;
    top: -100%;
    bottom: -100%;
    right: -100%;
    left: -100%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

.close-button {
    position: fixed;
    top: 32px;
    right: 60px;
    z-index: 6;
    opacity: 60%;
    transition: opacity .2s;
}

.close-button:hover {
    opacity: 80%;
    filter:brightness(1)
}
@media screen and (min-width: 768px) {

    .close-button {
        top: 50px;
        right: 100px;
    }
}

