
<div class="logo-container" id="container">
        <a href="index.html">
            <img src="https://nazarenoalt.github.io/bright-academy/assets/img/logo.jpg" alt="Bright Academy">
        </a>
    </div>
    <div class="menu" id="menu">
        <!--
            The color is changed using the DOM of svg. If you want to change it, open burger-menu.svg with your IDE and change the "fill" peroperty of <path> tag

            <path fill="[color]" d="...">    
        -->
            <img src="../../assets/icons/burger-menu.svg" alt="">
    </div>
    